<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="bbs" class="com.minis.spring.ioc_test.BaseBaseService">
        <property type="com.minis.spring.ioc_test.AServiceImpl" name="as" ref="aservice"/>
    </bean>
    <bean id="aservice" class="com.minis.spring.ioc_test.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="com.minis.spring.ioc_test.BaseService" name="ref1" ref="baseservice"/>
    </bean>
    <bean id="baseservice" class="com.minis.spring.ioc_test.BaseService">
    </bean>

    <bean id="autoProxyCreator" class="com.minis.spring.aop.BeanNameAutoProxyCreator" >
        <property type="String" name="pattern" value="action*" />
        <property type="String" name="interceptorName" value="advisor" />
    </bean>

    <bean id="webBindingInitializer" class="com.minis.spring.ioc_test.DateInitializer">
    </bean>

    <bean id="handlerAdapter" class="com.minis.spring.web.servlet.RequestMappingHandlerAdapter">
        <property type="com.minis.spring.http.convertor.HttpMessageConverter" name="messageConverter" ref="messageConverter"/>
        <property type="com.minis.spring.web.WebBindingInitializer" name="webBindingInitializer" ref="webBindingInitializer"/>
    </bean>

    <bean id="messageConverter" class="com.minis.spring.http.convertor.DefaultHttpMessageConverter">
        <property type="com.minis.spring.util.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>

    <bean id="objectMapper" class="com.minis.spring.util.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>>

    <bean id="viewResolver" class="com.minis.spring.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.minis.spring.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>


    <bean id="realaction" class="com.minis.spring.test.aop.Action1" />

    <bean id="action" class="com.minis.spring.aop.ProxyFactoryBean" >
        <property type="java.lang.Object" name="target" ref="realaction"/>
<!--        <property type="String" name="interceptorName" value="myInterceptor"/>-->
        <property type="String" name="interceptorName" value="myBeforeAdvice"/>
    </bean>

    <bean id="myInterceptor" class="com.minis.spring.test.aop.TracingInterceptor" />

    <bena id="beforeAdvice" class="com.minis.spring.test.aop.MyBeforeAdvice" />
    <bean id="myBeforeAdvice" class="com.minis.spring.test.aop.MyBeforeAdvice" />

    <bean id="advisor" class="com.minis.spring.aop.NameMatchMethodPointcutAdvisor">
        <property type="com.minis.spring.aop.Advice" name="advice" ref="beforeAdvice"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>


    <bean id="action2" class="com.minis.spring.test.aop.Action2" />

</beans>